# ---> VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ---> SourceMod
*.smx

# ---> GameX cache
data/gmx/cache/*
!data/gmx/cache/.gitkeep